@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
  scroll-behavior: smooth;
}

header {
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

header div {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer p {
  margin: 5px 0;
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

footer a:hover {
  color: #007bff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.py {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-logo {
  display: flex;
  flex-direction: row;
}

.header-logo img {
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.navigation li {
  list-style: none;
  display: inline-block;
}

.navigation a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-weight: 500;
}

.navigation a:hover {
  color: #007bff;
}

.btn {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px auto;
}

.btn:hover {
  background-color: black;
  color: white;
}

main img {
  display: block;
  margin: 0px auto;
}

table,
th,
td {
  border: 1px solid #e0e0e0;
  padding: 10px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
